/*Os hover*/
/*Links*/
a:hover,
footer a:hover {
    text-decoration: underline;
    opacity: 0.6;
}

/*Menu hambúrguer*/
#burguer:hover {
    cursor: pointer;
    color: black
}

/*Botao do formulario de enviar*/
.modeloFormulario button:hover {
    opacity: 0.3;
    font-size: 17px;
}