@charset "UTF-8";

/* Estilos para telas menores que 650px de largura */
@media all and (max-width: 650px) {
    nav {
        display: none;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: var(--navbar);
        position: absolute;
    }

    nav li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid var(--menu);
    }

    #burguer {
        display: block;
    }

    .principal {
        display: block;
        text-align: -webkit-center;
    }

    section.principal div {
        margin-top: 10vh;
        margin-bottom: 10px;
    }

    .habilidades {
        grid-template-columns: 1fr 1fr;
    }

    .habilidades>ul {
        display: block;
    }

    .habilidades>.descricao {
        grid-column: span 2;
    }

    main {
        width: 100%;
        padding: 10px;
    }
}
