/*Os hover*/
/*Links*/
a:hover,
footer a:hover {
    text-decoration: underline;
    color: #ffffff34;
}

/*Menu hambúrguer*/
#burguer:hover {
    cursor: pointer;
    color: black
}

/*Botao do formulario de enviar*/
.modeloFormulario button:hover {
    background-color: white;
    font-size: large;
}